table {
  table-layout: auto;
}

div {
  display: float;
}

.tooltip {
  size: 9pt;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  padding: 5px;
  position: absolute;
  left: 150%;
  top: -12%;
  border-radius: 6px;
  width: 160pt;
}

.tooltip .tooltiptext::before {
  content: " ";
  position: absolute;
  top: 10%; /* At the bottom of the tooltip */
  left: -2%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#reset-defaults {
  margin-left: 2pt;
  margin-top: 5pt;
}
